/* Additional Tailwind Utility Classes */
.h-96 {
    height: 24rem; /* 96px */
}

.h-500 {
    height: 500px;
}

.w-75p {
    width: 75%;
}

/* Center Text*/
.text-center {
    text-align: center;
}

/* Justify Text*/
.text-justify {
    text-align: justify;
}

/* Align Right*/
.text-right {
    text-align: right;
}
